@import 'tailwindcss';
@import 'tw-animate-css';
@import 'shadcn/tailwind.css';

:root {
	--primary-color: #00ffab;
  	--secondary-color: #1A1A1A;
	--primary-btn-color: #00ffab;
	--primary-btn-color-hover: #00e297;
	--secondary-btn-color: #383838;
	--secondary-btn-color-hover: rgba(46, 46, 46, 0.975);
	--nav-btn-text-color: #e2e2e2;
	--background: #0e0e0e;
	--foreground: #ffff;
  	--secondary-text-color: #777777;

	--card: #acacac;
	--card-foreground: oklch(0.985 0 0);
	--popover: oklch(0.145 0 0);
	--popover-foreground: oklch(0.985 0 0);
	--primary: oklch(0.985 0 0);
	--primary-foreground: oklch(0.145 0 0);
	--secondary: oklch(0.205 0 0);
	--secondary-foreground: oklch(0.985 0 0);
	--muted: oklch(0.205 0 0);
	--muted-foreground: oklch(0.708 0 0);
	--accent: oklch(0.205 0 0);
	--accent-foreground: oklch(0.985 0 0);
	--destructive: oklch(0.577 0.245 27.325);
	--border: oklch(0.269 0 0);
	--input: oklch(0.269 0 0);
	--ring: none;
	--chart-1: oklch(0.87 0 0);
	--chart-2: oklch(0.556 0 0);
	--chart-3: oklch(0.439 0 0);
	--chart-4: oklch(0.371 0 0);
	--chart-5: oklch(0.269 0 0);
	--radius: 0.625rem;
	--sidebar: oklch(0.985 0 0);
	--sidebar-foreground: oklch(0.145 0 0);
	--sidebar-primary: oklch(0.205 0 0);
	--sidebar-primary-foreground: oklch(0.985 0 0);
	--sidebar-accent: oklch(0.97 0 0);
	--sidebar-accent-foreground: oklch(0.205 0 0);
	--sidebar-border: oklch(0.922 0 0);
	--sidebar-ring: oklch(0.708 0 0);
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-inter: var(--font-inter);
	--color-sidebar-ring: var(--sidebar-ring);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar: var(--sidebar);
	--color-chart-5: var(--chart-5);
	--color-chart-4: var(--chart-4);
	--color-chart-3: var(--chart-3);
	--color-chart-2: var(--chart-2);
	--color-chart-1: var(--chart-1);
	--color-ring: var(--ring);
	--color-input: var(--input);
	--color-border: var(--border);
	--color-destructive: var(--destructive);
	--color-accent-foreground: var(--accent-foreground);
	--color-accent: var(--accent);
	--color-muted-foreground: var(--muted-foreground);
	--color-muted: var(--muted);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-secondary: var(--secondary);
	--color-primary-foreground: var(--primary-foreground);
	--color-primary: var(--primary);
	--color-popover-foreground: var(--popover-foreground);
	--color-popover: var(--popover);
	--color-card-foreground: var(--card-foreground);
	--color-card: var(--card);
	--radius-sm: calc(var(--radius) * 0.6);
	--radius-md: calc(var(--radius) * 0.8);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) * 1.4);
	--radius-2xl: calc(var(--radius) * 1.8);
	--radius-3xl: calc(var(--radius) * 2.2);
	--radius-4xl: calc(var(--radius) * 2.6);
}

/* general */
button,
.bigButton,
.dap-button,
.dap-button-primary-color,
.dap-dropdown-menu,
.dap-nav-link {
	font-family: var(--font-manrope);
	border-radius: var(--radius-sm);
	text-transform: uppercase;
	cursor: pointer;
}

.dap-button {
	background-color: var(--secondary-btn-color);
	color: #fff !important;
	transition: 0.3s;

	&:hover {
		background: var(--secondary-btn-color-hover);
	}
}
.dap-button-primary-color {
	background: var(--primary-btn-color);
	color: #000;
	border: none;
	transition: 0.3s;

	&:hover {
		background: var(--primary-btn-color-hover);
	}
}
.dap-dropdown-menu {
	background: #060606;
	color: var(--nav-btn-text-color);

	& .dap-dropdown-menu-item {
		&:hover {
			background: none;
			color: var(--nav-btn-text-color);
			text-decoration: underline;
			cursor: pointer;
		}
	}
}

.bigButton {
	gap: 8px;
	color: #000;
	padding: 25px 40px;
	border: 3px solid transparent;
	transition: 0.3s;
	font-weight: bold;
	min-width: 13rem;
	background: var(--primary-btn-color);
	
	&:hover {
		background: var(--primary-btn-color-hover);
	}

	&.outline {
		background: none;
		border: 3px solid var(--primary-btn-color);
		color: #fff;

		&:hover {
			background: var(--primary-btn-color);
			color: #000;
		}
	}
}

.alert {
	background: red;
}

header {
	text-transform: uppercase;

	& a {
		text-decoration: none !important;
	}
}
.dap-nav-link {
	position: relative;
	color: var(--nav-btn-text-color);
	font-size: 0.875rem;
	font-weight: 600;
	line-height: 1.5;

	transition: color 0.2s ease;

	&::after {
		content: '';
		position: absolute;
		left: 0;
		bottom: -4px;

		width: 100%;
		height: 2px;

		background-color: var(--primary-btn-color);

		transform: scaleX(0);
		transform-origin: left;
		transition: transform 0.2s ease;
	}
	@media (max-width: 1023px) {
		&::after {
			display: none;
		}
	}

	&:hover,
	&.active {
		color: var(--primary-btn-color);
	}
	&:hover::after,
	&.active::after {
		transform: scaleX(1);
	}
}

/* pages */
/* homePage */
.dap-skills-container {
  background: var(--secondary-color);

  & .dap-skill-item {
    background: #0c0c0c;

    &:hover {
      background: #0e0e0e;
    }
  }
}
/* contactPage */
.contactForm {
	input,
	textarea {
		border-radius: 0px !important;
		background: none;
	}
}
/* projectsPage */
.dap-porojectCard  {
	border-radius: var(--radius-sm);

	.dap-porojectCard-header-wrapper {
		background: var(--secondary-color);
		color: #fff;
		.card-description {
			color: #bebebe;
		}
		.card-footer {
			border-top-color: var(--primary-color);
			background: var(--secondary-color) ;
		}
	}
}

@layer base {
	* {
		@apply border-border outline-ring/50;
	}
	body {
		@apply bg-background text-foreground;
		-webkit-font-smoothing: antialiased;
	}
	html {
		@apply font-inter;
	}
}
